@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Great+Vibes&family=Moirai+One&family=Mrs+Sheppards&family=Tangerine:wght@400;700&display=swap');

:root {
  --header-h1: 'Ephesis', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  position: sticky;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  font-size: 0.9rem;
  transition: transform 0.5s ease-out;
  will-change: transform;
}

header h1 {
  font-family: var(--header-h1);
}

header.is-hidden {
  transform: translateY(-200%);
}

header button {
  border-radius: 10px;
  background-color: white;
  border: none;
  box-shadow: 0 0 3px lightgray;
  cursor: pointer;
}

nav {
  position: relative;
  padding: 0.65rem 0;
}

nav::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: -1;
  border-radius: 30px;
  margin: -5px;
  box-shadow: 0 0 3px lightgray;
}

nav a {
  height: 100%;
  padding-inline: 10px;
  color: black;
  text-decoration: none;
}

.nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: pink;
  border-radius: 30px;
  transition:
    transform 0.35s ease,
    width 0.35s ease;
  z-index: -1;
}

#home {
  text-align: center;
}

#home,
#about,
#work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 50vw;
  margin: auto;
}

#home > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

#home > div > a {
  padding: 10px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
}

section,
footer {
  min-height: 90vh;
}

#about > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#tech-stack {
  padding: 1rem;
  border: 2px solid black;
}

#tech-stack ul,
.card > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#tech-stack li,
.card > ul > li {
  border: 1px solid black;
  padding: 10px;
}

#card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  padding: 20px;
}

#contact {
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 50vw;
}

#contact > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  padding: 2rem 0;
}

#other-contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  padding: 10px;
}

textarea {
  min-height: 100px;
}

button {
  padding: 12px;
}
