@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Oleo+Script+Swash+Caps:wght@400;700&family=Shrikhand&display=swap');

:root {
  --header-h1-font: 'Ephesis', cursive;
  --h2-font: 'Shrikhand', serif;
  --title-font: 'Oleo Script Swash Caps', system-ui;
  --text-font: 'Libertinus Sans', sans-serif;
  --white-color: #fffefb;
  --bg-white-color: rgba(255, 254, 251, 0.6);
  --text-color: #5d5d5d;
  --light-color: #d3d3d3;
  --accent-color: #b5b5b5;
}

/* CSS reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* body and bg gradient */

body {
  color: var(--text-color);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  pointer-events: none;
}

/* header */

header {
  position: sticky;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  font-size: 0.9rem;
  transition: transform 0.5s ease-out;
  z-index: 10;
  will-change: transform;
  font-family: var(--text-font);
}

header h1 {
  font-family: var(--header-h1-font);
  font-size: 1rem;
}

header.is-hidden {
  transform: translateY(-200%);
}

header button {
  border-radius: 10px;
  background-color: var(--bg-white-color);
  color: var(--text-color);
  border: 1px solid white;
  box-shadow: 0 0 3px var(--light-color);
  padding: 0.5rem;
  cursor: pointer;
}

/* nav */

nav {
  position: relative;
  padding: 0.65rem 0;
  font-size: 0.8rem;
}

nav ul {
  display: flex;
}

nav::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--bg-white-color);
  border-radius: 30px;
  margin: -5px;
  box-shadow: 0 0 3px var(--light-color);
  z-index: -1;
}

nav a {
  height: 100%;
  padding-inline: 10px;
}

.nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--white-color);
  border-radius: 30px;
  transition:
    transform 0.35s ease,
    width 0.35s ease;
  z-index: -1;
}

/* container for the content of each section */

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 5rem 0;
  font-family: var(--text-font);
  max-width: 90vw;
  min-height: 100vh;
  font-size: 1rem;
  gap: 0.5rem;
}

/* home section */

#title {
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 700;
  -webkit-text-stroke: 2px var(--accent-color);
  font-size: 3rem;
}

#home p {
  margin-bottom: 10px;
  background-color: var(--bg-white-color);
  padding: 1rem;
  border: 1px solid white;
}

#home-buttons,
.card-links,
#find-me-info ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#home-buttons li,
.card-links li,
#contact button {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-white-color);
  border: 1px solid var(--white-color);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

#home-buttons li::before,
.card-links li::before,
#contact button::before {
  overflow: hidden;
  content: '';
  position: absolute;
  background: var(--white-color);
  height: 155px;
  left: -75px;
  top: -50px;
  opacity: 0.5;
  transform: rotate(35deg);
  transition: all 0.5s ease;
  width: 50px;
}

#home-buttons li:hover::before,
.card-links li:hover::before,
#contact button:hover::before {
  left: 120%;
}

#home-buttons li:hover,
.card-links li:hover {
  scale: 1.2;
  border: 1px solid var(--text-color);
}

#home-buttons a,
.card-links a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* h2 */

h2 {
  color: var(--white-color);
  -webkit-text-stroke: 0.1px var(--accent-color);
  text-shadow: 2px 1px 0px var(--text-color);
  font-family: var(--h2-font);
  font-size: 1.5rem;
  font-weight: 700;
}

/* about section */

#about-text,
#find-me-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#about-content-container,
#contact-content-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

#about,
#contact {
  position: relative;
  contain: paint;
}

#about::before,
#contact::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-white-color);
  background-size: 30px;
}

/* wavy clip-path */

#about::before {
  clip-path: polygon(
    /* top wave */ 0% 3%,
    20% 4%,
    45% 5%,
    75% 3%,
    100% 1%,

    /* right side */ 100% 100%,

    /* bottom wave */ 60% 99%,
    30% 98%,
    15% 99%,
    0% 99%
  );
}

#contact::before {
  clip-path: polygon(
    /* top wave */ 0% 3%,
    20% 4%,
    45% 5%,
    75% 3%,
    100% 1%,

    /* right side */ 100% 100%,

    /* end clip-path */ 0% 100%
  );
}

/* tech stack in about section */

#tech-stack {
  position: relative;
  rotate: -2deg;
  transition: all 0.5s ease;
  border: 8px solid var(--text-color);
  padding: 20px;
  background: url('./assets/tech-stack-bg.png');
  background-size: cover;
  background-color: var(--white-color);
  background-blend-mode: darken;
}

#tech-stack:hover {
  rotate: 2deg;
}

#tech-stack::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -5px;
  right: -5px;
  bottom: -4px;
  border: 2px solid var(--white-color);
}

#tech-stack h3 {
  margin-bottom: 1rem;
  text-align: left;
}

#tech-stack ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#tech-stack li {
  color: var(--accent-color);
  transition: all 0.3s ease-in-out;
}

#tech-stack li:hover {
  color: var(--text-color);
  scale: 1.1;
  translate: 0 -10%;
}

/* work section */

#card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--white-color);
  border-radius: 10px;
  background-color: var(--bg-white-color);
  padding: 25px;
  backdrop-filter: saturate(300%);
  max-width: 75vw;
  transition: all 0.5s ease-out;
}

.card:hover {
  padding: 50px 25px;
}

/* tech stack in work section marquee */

.marquee-container {
  background-color: var(--bg-white-color);
  width: 100%;
  overflow: hidden;
}

.marquee-container li {
  border-right: 1px solid var(--accent-color);
  padding: 0.5rem 2rem;
}

.marquee {
  display: flex;
  white-space: nowrap;
  font-size: 0.9rem;
  animation: marquee 15s infinite linear;
  animation-delay: calc(var(--i) * -3s);
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* card images */

.card-img-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  height: 10%;
}

.card-img-container img {
  width: 100%;
  object-fit: cover;
  border: 1px solid var(--white-color);
  transition: all 0.2s ease-out;
}

.card-img-container img:hover {
  scale: 1.1;
  z-index: 1;
}

/* card links */

.card-links li,
#contact button {
  background-color: transparent;
  border-color: 1px solid var(--text-color);
  border-radius: 5px;
}

.card-links a,
#contact button {
  padding: 0.5rem 2rem;
}

/* contact section */

#contact .container-center {
  min-height: 110vh;
}

#contact a {
  transition: all 0.5s ease;
}

#contact a:hover {
  letter-spacing: 1px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
}

#find-me-info li {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

#find-me-info img {
  height: 1rem;
}

/* tablet */

@media (min-width: 768px) {
  .container-center {
    min-height: 90vh;
    font-size: 1.3rem;
  }

  header h1,
  h2 {
    font-size: 2.3rem;
  }

  nav {
    font-size: 1rem;
  }

  #title {
    font-size: 5rem;
  }

  #about-content-container {
    grid-template-columns: 2fr 1fr;
  }

  #contact-content-container {
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
  }

  #find-me-info ul {
    flex-direction: column;
  }

  form {
    gap: 1rem;
  }

  input,
  textarea {
    padding: 1rem;
  }
}

/* desktop */

@media (min-width: 1024px) {
  .container-center {
    max-width: 50vw;
  }

  #about-content-container {
    gap: 9.5rem;
  }

  .card {
    max-width: 50vw;
  }

  #tech-stack {
    scale: 1.2;
  }
}
