* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-inline: 1rem;
}

nav a {
  height: 100%;
  padding: 1.5rem 10px;
  color: black;
  text-decoration: none;
}
nav a:hover {
  background-color: black;
  color: white;
}

#home {
  text-align: center;
}

#home,
#about,
#work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 50vw;
  margin: auto;
}

#home > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

#home > div > a {
  padding: 10px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
}

section,
footer {
  min-height: 75vh;
}

#about > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#tech-stack {
  padding: 1rem;
  border: 2px solid black;
}

#tech-stack ul,
.card > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#tech-stack li,
.card > ul > li {
  border: 1px solid black;
  padding: 10px;
}

#card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  padding: 20px;
}

#contact {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 50vw;
}

#contact > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  padding: 2rem 0;
}

#other-contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  padding: 10px;
}

textarea {
  min-height: 100px;
}

button {
  padding: 12px;
}
